header {
	width: 100%;
	height: 50px;
	// border: 1px solid rgb(226, 0, 0);
	position: sticky;
	top: 0px;
	background-color: #6dc7e2;
	z-index: 100;

	a {
		.home {
			height: 75%;
			font-size: 40px;
			line-height: 50px;
			margin-left: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	div.searchBar {
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%)translateX(-50%);

		input {
			vertical-align: top;
			height: 30px;
			border: 1px solid;
			box-sizing: border-box;
		}
		div {
			display: inline-block;
			width: 30px;
			height: 30px;
			vertical-align: top;
			box-sizing: border-box;
			cursor: pointer;
		}
	}
}

main {
	background-color: antiquewhite;
	box-sizing: border-box;
	width: 100%;
	min-height: calc(100vh - 50px);
	display: block;
	padding: 20px;
	overflow-y: auto;

	ul.videoUL {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		min-height: 80vh;

		@include bigPad {
			padding-left: 10px;
		}

		@include smlPad {
			padding-left: 20px;
		}
		@include bigPhone {
			padding-left: 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			width: calc((100% - 60px)/4);
			// height: 325px;
			border: 1px solid rgb(194, 194, 194);
			margin-right: 20px;
			margin-bottom: 40px;
			box-sizing: border-box;
			position: relative;

			@include bigPad {
				width: calc((100% - 60px)/3);
				margin-right: 20px;
				margin-bottom: 20px;
			}

			@include smlPad {
				width: calc((100% - 60px)/2);
				margin-right: 20px;
				margin-bottom: 20px;
			}
			@include bigPhone {
				width: calc((100% - 60px)/1);
				margin-right: 0px;
			}

			img {
				width: 100%;
			}
			h3 {
				display: inline-block;
				height: 40px;
				// white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 5px;
				line-height: 20px;
			}
			p.videoContent {
				font-size: 12px;
				padding: 0px 5px 10px 5px;
				line-height: 16px;
				height: 50px;
				word-break: break-all;
				display: block;
			}
			p.videoTime {
				display: inline-block !important;
				font-size: 16px;
				padding: 5px;
				padding-bottom: 7px;
			}

			i.saveBtn {
				display: inline-block;
				width: 20px;
				float: right;
				margin: 0px 5px 10px 0px;
				cursor: pointer;
				font-size: 22px;
			}
		}
		@include Biglaptop {
			li:nth-child(4n) {
				margin-right: 0;
			}
		}

		@include bigPad {
			li:nth-child(3n) {
				margin-right: 0;
			}
		}

		@include smlPad {
			li:nth-child(3n) {
				margin-right: 20px;
			}
			li:nth-child(2n) {
				margin-right: 0;
			}
		}

		@include bigPhone {
			li:nth-child(3n) {
				margin-right: 0px;
			}
			li:nth-child(2n) {
				margin-right: 0;
			}
			li:nth-child(1n) {
				margin-right: 0;
			}
		}
	}
	ul.pageBar {
		display: flex;
		width: 100%;
		justify-content: center;

		li {
			display: inline-flex;
			margin: 0px 10px;
			cursor: pointer;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			text-align: center;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: #6dc7e2;
			}

			@include bigPhone {
				width: 20px;
				height: 20px;
				font-size: 14px;
				margin: 5px;
			}

			@include smlPhone {
				width: 20px;
				height: 20px;
				font-size: 14px;
			}
		}
		.addBgc {
			background-color: #6dc7e2;
		}
	}

	// position: fixed;
	// top: 0px;
	// left: 0px;
	// width: 100%;
	// height: calc(100vh - 50px);
	// margin-top: 50px;
	// z-index: -1;

	.grayBlock {
		position: fixed;
		background-color: #a0a0a08c;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
	.off {
		display: none;
	}
	.saveCase {
		position: fixed;
		right: 0px;
		top: 0px;
		width: 260px;
		height: calc(100% - 50px);
		background-color: rgb(255, 242, 182);
		transform: translate(100%);
		transition: all 1s;
		z-index: 5;
		margin-top: 50px;
		::-webkit-scrollbar-track-piece {
			background: rgb(255, 242, 182);
		}

		ul {
			width: 100%;
			height: 100%;
			overflow-y: auto;
			li {
				width: calc(100% - 20px);
				height: 200px;
				padding: 10px;
				div.imgBlock {
					display: inline-block;
					height: 60%;
					width: 75%;
					padding-left: 10px;
					img {
						height: 100%;
					}
					h3 {
						margin-top: 5px;
						line-height: 18px;
					}
				}
				img.closeIcon {
					width: 40px;
					display: inline-block;
					vertical-align: top;
					position: relative;
					top: 50%;
					transform: translate(0, -120%);
				}
			}
		}

		span {
			font-size: 18px;
			font-weight: 200;
			padding: 10px;
			border-radius: 10px 0px 0px 10px;
			background-color: rgb(252, 201, 92);
			writing-mode: vertical-lr;
			position: absolute;
			top: 50%;
			transform: translate(-100%, -50%);
			cursor: pointer;
			transition: all .5s;
		}
		.upDown {
			animation-name: upDown;
			animation-duration: .5s;
		}
		@keyframes upDown {
			0% {
				transform: translate(-100%, -50%);
			}
			33% {
				transform: translate(-100%, -70%);
			}
			50% {
				transform: translate(-100%, -30%);
			}
			66% {
				transform: translate(-100%, -70%);
			}
			100% {
				transform: translate(-100%, -50%);
			}
		}
	}

	.on {
		transform: translate(0%);
	}
}
